@import './animation.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$OpesnSans: 'Open Sans', sans-serif;
$Raleway: 'Raleway', sans-serif;

$f-thin : 100;
$f-light : 300;
$f-regular : 400;
$f-medium : 500;
$f-semibold : 600;
$f-bold : 700;
$f-extrabold : 800;
$f-black : 900;

//Coloors

$preto: #000000;
$cinza: #1A1A1A;
$amarelo: #FACD34;
$branco: #EAF0F1;

$color-1: #EAF0F1; // Cor principal da marca
$color-2: #000000; // Cor secundária da marca
$color-3: #006d77; // Cor do callToAction Principal (ex.: botão comprar)
$color-4: #98CAA5; // CallToAction Secundário (ex.: botão de newsletter)
$color-5: #D1D1D1; // Cor livre
$color-6: #252525; // Cor Neutra (ex.: cinza)
$text-color-1: #264653; // Cor para textos
$text-color-2: #EAF0F1; // Cor secundária para textos

// Gradientes
$grad-1: linear-gradient(
  to right,
  rgba(255, 255, 255, 1) 50%,
  rgba(68, 0, 64, 1) 0%
);

// Gradientes
$grad-2: linear-gradient(90deg, #121212 0%, #222222 100%);

// Cor 1
$color-1-50: lighten($color-1, 20%);
$color-1-100: lighten($color-1, 16%);
$color-1-200: lighten($color-1, 12%);
$color-1-300: lighten($color-1, 8%);
$color-1-400: lighten($color-1, 4%);
$color-1-500: $color-1;
$color-1-600: darken($color-1, 5%);
$color-1-700: darken($color-1, 10%);
$color-1-800: darken($color-1, 15%);
$color-1-900: darken($color-1, 20%);

// Cor 2
$color-2-50: lighten($color-2, 20%);
$color-2-100: lighten($color-2, 16%);
$color-2-200: lighten($color-2, 12%);
$color-2-300: lighten($color-2, 8%);
$color-2-400: lighten($color-2, 4%);
$color-2-500: $color-2;
$color-2-600: darken($color-2, 5%);
$color-2-700: darken($color-2, 10%);
$color-2-800: darken($color-2, 15%);
$color-2-900: darken($color-2, 20%);

// Cor 3
$color-3-50: lighten($color-3, 20%);
$color-3-100: lighten($color-3, 16%);
$color-3-200: lighten($color-3, 12%);
$color-3-300: lighten($color-3, 8%);
$color-3-400: lighten($color-3, 4%);
$color-3-500: $color-3;
$color-3-600: darken($color-3, 5%);
$color-3-700: darken($color-3, 10%);
$color-3-800: darken($color-3, 15%);
$color-3-900: darken($color-3, 20%);

// Cor 4
$color-4-50: lighten($color-4, 20%);
$color-4-100: lighten($color-4, 16%);
$color-4-200: lighten($color-4, 12%);
$color-4-300: lighten($color-4, 8%);
$color-4-400: lighten($color-4, 4%);
$color-4-500: $color-4;
$color-4-600: darken($color-4, 5%);
$color-4-700: darken($color-4, 10%);
$color-4-800: darken($color-4, 15%);
$color-4-900: darken($color-4, 20%);

// Cor 5
$color-5-50: lighten($color-5, 20%);
$color-5-100: lighten($color-5, 16%);
$color-5-200: lighten($color-5, 12%);
$color-5-300: lighten($color-5, 8%);
$color-5-400: lighten($color-5, 4%);
$color-5-500: $color-5;
$color-5-600: darken($color-5, 5%);
$color-5-700: darken($color-5, 10%);
$color-5-800: darken($color-5, 15%);
$color-5-900: darken($color-5, 20%);

// Cor 6
$color-6-50: lighten($color-6, 20%);
$color-6-100: lighten($color-6, 16%);
$color-6-200: lighten($color-6, 12%);
$color-6-300: lighten($color-6, 8%);
$color-6-400: lighten($color-6, 4%);
$color-6-500: $color-6;
$color-6-600: darken($color-6, 5%);
$color-6-700: darken($color-6, 10%);
$color-6-800: darken($color-6, 15%);
$color-6-900: darken($color-6, 20%);

// Textos - alpha
$text-color-1-500: $text-color-1;
$text-color-1-400: lighten($text-color-1, 26%);
$text-color-1-300: lighten($text-color-1, 54%);
$text-color-1-200: lighten($text-color-1, 68%);
$text-color-1-100: lighten($text-color-1, 82%);

// Textos 2 - alpha
$text-color-2-500: $text-color-2;
$text-color-2-400: lighten($text-color-2, 26%);
$text-color-2-300: lighten($text-color-2, 54%);
$text-color-2-200: lighten($text-color-2, 68%);
$text-color-2-100: lighten($text-color-2, 82%);

// Apoios
$white: #ffffff;
$black: #000000;
$text-shadow-1-500: 0px 0px $text-color-1-500;
$text-shadow-2-500: 0px 0px $text-color-2-500;
$text-shadow-white: 0px 0px $white;

// Custom
$color-c-1: #6fcf97;
$color-c-2: darken($color-c-1, 20%);

$transition: cubic-bezier(0.32, 0.91, 0.46, 1.01);

// MEDIA QUERIES ----------------------------------
$mobile-s-max: 325px;
$mobile-m-max: 380px;
$mobile-max: 621px;
$tablet-max: 991px;
$desktop-max: 1365px;
$wide: 1366px;
$wide-min-max: 1680px;
$wide-max: 1919px;

$tablet-min: $mobile-max + 1;
$desktop-min: $tablet-max + 1;
$wide-min: $desktop-max + 1;
$ultrawide-min: $wide-max + 1;

// Minimmum medias - mobile first concept
@mixin mobile {
  @media (max-width: #{$mobile-max}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-max}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop-max}) {
    @content;
  }
}

@mixin wide {
  @media (max-width: #{$wide-max}) {
    @content;
  }
}

@mixin ultrawide {
  @media (max-width: #{$ultrawide-max}) {
    @content;
  }
}






