@import './../../assets/scss/variaveis.scss';

.brands {
    background-color: $color-3;
    padding: 20px 0;

    .owl-stage {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .owl-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    img {
        max-height: 25px;
        max-width: 100%;
        height: auto;
        width: auto !important;
    }
}